################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/EyetrackerProject/.vs/EyetrackerExperiment/v15
/EyetrackerProject/Data/obj
/.vs
/EyetrackerProject/Demographic_Questionnaire/obj
/EyetrackerProject/Post_Questionnaire/obj
/EyetrackerProject/EyeTracking/obj
/EyetrackerProject/packages/EntityFramework.6.2.0/lib
